/* ////////////////////// Main Nav //////////////////// */
#nav-container {
    width: 100%;
    overflow: hidden;
    height: 60px;
    background-color: white;
}
  
#nav-container ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
  
#nav-container ul li{
    /* float: left; */
    /* width: auto; */
    /* text-align: left; */
    /* font-size: 1.1rem; */
    margin-right: 2.5%;
}
  
#nav-container ul li a {
    text-decoration-line: none;
    color: black;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}
  
#nav-container ul li .login{
    background-color: white;
    color: black;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}

#nav-container .user-name {
    /* margin-left: 27%; */
    width: 23%;
    text-align: right;
    margin-right: 0.7%;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}

#nav-container .user-img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}
  
#nav-container .building-page-img {
    margin-right: 2px;
    margin-top: -10px;
}
  
#nav-container #logout {
    border: none;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    width: fit-content;
    margin-left: 1rem;
}
  
#nav-container .one-word-signup {
    margin-left: 23%;
}

/* ////////////////// Sticky Nav ///////////////// */
body {
    margin: 0;
    width: 100%;
    /* font-family: 'Ubuntu', sans-serif; */
    /* height: 100rem; */
}

.sticky {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 10px 5px 40px rgb(192, 189, 189);
    animation-name: nav-animate;
    animation-duration: 0.6s;
}
  
@keyframes nav-animate {
    from{height: 1px};
    to{height: 60px};
}
  
.qwert {
    background-color: white;
    color: black;
}

/* ////////////////// Building Photo /////////////////// */
#house-photo {
    /* position: relative; */
    /* bottom: 55px; */
    /* z-index: -1; */
    margin: 0 -8px;
    /*margin-top: 0;
    margin-bottom: 0; */
}
  
  #house-photo img {
    height: 39rem;
    width: 100%;
    object-fit: fill;
}

/* ////////////////// Text on Building Photo /////////////////// */
.topHead-div {
    margin: 5%;
    position: absolute;
    top: 25%;
    color: rgb(212, 200, 200);
    /* color: rgb(218, 214, 214); */
}

.topHead-div .imgName {
    font-size: 3rem;
    font-weight: 600;
}

.topHead-div .imgAddr {
    margin-top: -1rem;
    font-size: 1.25rem;
    font-weight: 400;
}

.topHead-div .imgBHKPrice {
    width: fit-content;
}

.topHead-div .imgBHKPrice .imgBHK {
    display: inline-block;
}

.topHead-div .imgBHKPrice .imgHeadPrice,
.topHead-div .imgBHKPrice .imgIconPrice,
.topHead-div .imgBHKPrice .imgPrice,
.topHead-div .imgBHKPrice .imgAvg { 
    display: inline-block;
}

.topHead-div .imgBHKPrice .imgBHK,
.topHead-div .imgBHKPrice .imgIconPrice,
.topHead-div .imgBHKPrice .imgPrice,
.topHead-div .imgSqft {
    font-size: 2rem;
    font-weight: 500;
}

.topHead-div .imgBHKPrice .imgAvg {
    margin-left: 5px;
}

.topHead-div .imgSqft {
    margin-top: -0.5rem;
    font-size: 1.75rem;
}

.topHead-div .imgBHKPrice .imgHeadPrice {
    margin-left: 2rem;
    
}
/* ////////////////// Houses Css //////////////////// */
input:focus {
    outline: none;
}
  
#properties-available h3{
    width: fit-content;
    font-size: 1.5rem;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 3rem;
    font-family: 'Nunito', sans-serif;
}
  
.flatsBtnDiv {
    /* width: 19rem;
    margin: 30px auto;
    margin-bottom: 20px; */
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
  
.flatsBtn:hover {
    border: 1px solid #0A79DF;
    color: #0A79DF;
}
  
.flatsBtn:focus {
    border-color: #0A79DF;
    color: #0A79DF;
}
  
#properties-available .flatsBtn {
    width: 5.65rem;
    margin-right: 0.35rem;
    height: 2.5rem;
    font-size: 0.9375rem;
    font-weight: 500;
    border: 1px solid grey;
    border-radius: 25px;
    background-color: white;
} 
  
#myBtnContainer {
    display: flex;
    flex-direction: row;
    width: 45rem;
    overflow: auto;
    white-space: nowrap;
    margin-left: 12.5%; 
}
  
#myBtnContainer .flatType {
    border: none; 
    height: 2.4rem;
    font-size: 1rem;
    font-weight: 200;
    color: rgb(122, 115, 115);
    padding-right: 1.25rem;
}
  
.fuck {
    /* border: 1px solid black; */
    position: relative;
    height: 26rem;
    overflow: hidden;
}
  
.column {
    border: 20px solid rgb(204, 187, 187);
    width: 63.25rem;
    height: 25.5rem;
    display: none;
    overflow: hidden;
    margin: 0 auto;
}

.inner-column {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.a {
    /* visibility: visible; */
    display: block;
}
  
.column img {
    height: 16rem;
    overflow: hidden;
    border-right: 1px solid blue;
    object-fit: cover;
    margin-top: 3rem;
    margin-right: 3rem;
    margin-left: 2rem;
}
  

.column .texts {
    /* border: 1px solid black; */
    margin-top: 2rem;
    width: 51%;
}
  
  
.column .texts h5 {
    display: inline-block;
    /* margin-left: 7.5px;
    margin-top: 50px;
    display: inline-block;
    width: inherit;
    font-size: 25px; */
}

.bath {
    display: inline-block;
    margin-right: 30%;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;

}

.bal {
    display: inline-block;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
}

.texts h5 {
    font-size: 22px;
    font-weight: bolder;
    font-family: 'Nunito', sans-serif;
    margin-left: 0.25rem;
}
  
.texts h6 {
    font-size: 17px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
}

.usp, .status {
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
}

.new-house-1 {
    display: inline-block;
    margin-left: 13%;
    font-size: 19px;
}
  
#post-house {
    margin-left: 7px;
    margin-right: 3px;
    text-decoration-line: none;
    color: red;
    margin-bottom: 3rem;
    display: inline-block;
    transition: all 0.2s;
    transition-timing-function: ease-in;
}
  
#post-house:hover {
    transform: translateY(-5px);
    border-bottom: 2px solid #7dd56f;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
  
.new-house-2 {
    display: inline-block;
}

/* //////// Building Images /////////// */
.pics-left-btn, .pics-right-btn, #left-button-pics, #right-button-pics {
    display: none;
    color: red;
    /* position: absolute;
    visibility: hidden; */
}

#picsBuild {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.section-pictures {
    width: 100%;
}

.picture-box__img {
    /* display: block; */
    /* width: 100%; */
    /* height: 110%; */
    /* -o-object-fit: cover; */
    object-fit: cover;
    width: 100%;
    height: 25rem;
    transition: all 0.2s;
    /* height: 15rem; */
}
.picture-box__img:hover {
    position: relative;
    z-index: 99;
    transform: scale(1.05);
    cursor: pointer;
}
    /* .picture-box__img--1 {
    padding-top: 15%;
}
.picture-box__img--2 {
    padding-bottom: 15%;
}
.picture-box__img--3 {
    padding-bottom: 27%;
} */

/* //////////////////// Ameneties Css //////////////////////// */
#amen-box {
    width: 100%;
    background-image: url("https://property.magicbricks.com/mb-microsite/4/mityahomes-mityainfratech-newdelhi/images/amenities.jpg");
    /* width: 100%; */
    /* height: 30rem; */
    background-position: center;
    background-size: cover;
    margin: 0;
    /* margin-top: 5rem; */
    height: 28rem;
}
#amen-box h3 {
    width: fit-content;
    margin: 0 auto;
    font-size: 1.56rem;
    height: 3.75rem;
    overflow: hidden;
    color: whitesmoke;
    margin-bottom: 1rem;
    font-family: 'Nunito', sans-serif;
    padding-top: 1rem;
  }
  
  #ameneties  {
    /* background: linear-gradient(to right bottom, #7dd56f, #28b487); */
    /* margin-bottom: 5rem; */
    /* height: 25rem; */
    width: 80%;
    overflow: hidden;
    line-height: 2;
    margin: 0 auto;
    /* margin-top: 4rem; */
    /* position: relative; */
  }
  
  #ameneties-container {
      display: flex;
      /* grid-template-columns: 22.5% 22.5% 22.5% 22.5% 22.5%; */
      flex-direction: row;
      /* grid-gap: 2.5%; */
      overflow: hidden;
      scroll-behavior: smooth;
      width: 130%;
      margin: 0 auto;
      /* margin-top: 5px; */
      /* justify-content: space-around; */
  }
  
  /* #ameneties i {
      overflow: hidden;
      position: absolute;
      font-size: 3rem;
      color: red;
      margin: auto 0;
      top: 45%;
  }
  
  #ameneties #prev {
      left: 50px;
      visibility: hidden;
  }
  
  #ameneties #next {
      right: 50px;
  }  */
  
  .content {
    /* border: 1px solid red; */
    height: 18rem;
    overflow-x: hidden;
    overflow-y: auto;
    list-style-type: none;
    padding-left: 0;
    margin-right: 5%;
    background-color: inherit;
    color: whitesmoke;
    width: 25%; 
    /* width: 20rem; */
  }
  
  .content label {
    padding-bottom: 7px;
    display: block;
    font-weight: 400;
    font-size: 1.3rem;
    text-transform: uppercase;
    /* margin-left: -2.25rem; */
  }
  
  .content input { 
    /* margin-left: 0; */
    /* height: 2rem; */
    font-size: 1rem;
    width: 100%;
    background-color: inherit;
    color: whitesmoke;
  }
  .amen-list-item {
      display: grid;
      grid-template-columns: 90% 10%;
  }
  #update-amenety {
    border: none;
    font-size: 1.07rem;
    background-color: inherit;
    color: whitesmoke;
  }
  
  #update-amenety:focus {
    border: 1px solid black;
  }
  
  #remove-amenety {
    color: rgb(218, 210, 210);
    border: none;
    background-color: inherit;
    font-size: 10px;
    transition: all 0.2s;
    /* color: white; */
  }
  
  #remove-amenety:hover {
    color: rgb(221, 18, 18);
    transform: translateY(-3px);
  }
  
  #amenetyKaNaam {
      width: 87%;
      border: 1px solid whitesmoke;
      color: whitesmoke;
  }
  #amenetyKaNaam:focus {
    border: none;
    border-bottom: 2px solid #7dd56f; 
  }
  
  #submitAmenety {
    border: none;
    background-color: inherit;
    color: grey;
    font-size: 14px;
    transition: all 0.2s;
    color:  rgb(218, 210, 210);
  }
  
  #submitAmenety:hover {
    color:red;
    transform: translateY(-5px);
  }
  
  ul.content::-webkit-scrollbar {
      width: 5px;
   }
    
  ul.content::-webkit-scrollbar-thumb {
      background: purple; 
      border-radius: 10px;
  }

.amenety-right-btn {
    font-size: 2rem;
    color: whitesmoke;
    float: right;
    position: relative;
    z-index: 1;
    bottom: 13rem;
    right: 5rem;
}

.amenety-left-btn {
    font-size: 2rem;
    color: whitesmoke;
    float: left;
    position: relative;
    z-index: 1;
    top: 12.5rem;
    left: 5rem;
    /* left: 1rem; */
}
/* //////////////////// Location Map Css ///////////////// */
.section-map {
    position: relative;
    height: 28rem;
    /* margin-top: calc(0px - var(--section-rotate)); */
    /* margin-bottom: 5rem; */
    display: grid;
    grid-template-columns: 60% 40%;
    /* flex-direction: row; */
    border: 1px solid black;
    margin: 0;
    width: 100%;
}

.location-advantage-container {
    /* border: 3px solid red; */
    text-align: left;
    padding-left: 3.5%;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    color: white;
    overflow-y: auto;
}

.location-advantage-container h3 { 
    width: fit-content;
    margin: 0 auto;
    margin-top: 1rem;
}

.locationAdvantageLines {
    width: 90%;
    margin: 0 auto;
    margin-top: 3rem;
}

.location-advantage-container p {
    width: fit-content;
    line-height: 2rem;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    /* z-index: -1; */
}
  
.marker {
    background-image: url('../../img/pin.png');
    background-size: cover;
    width: 16px;
    height: 20px;
    cursor: pointer;
}
  


/* ///////////////// Reviews Section //////////////////// */
#review-section {
    /* position: relative;
    z-index: 1000; */
    /* background: linear-gradient(to right bottom, #7dd56f, #28b487); */
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    height: 30rem;
    /* margin-bottom: 10rem; */
    overflow: auto;
    color: white;
}
  
.reviews {
    /* border: 2px solid black; */
    /* padding: 5rem 0; */
    display: grid;
    height: 25rem;
    grid-column-gap: 2rem;
    /* overflow: hidden; */
    /* grid-template-columns: 25% 25% 25% 25%; */
    grid-auto-flow: column;
    /* padding-top: 5rem; */
    /* padding-bottom: 5rem; */
}
  
.review-container {
    width: 20rem;
    padding: 3rem;
    background-color: #f7f7f7;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    color: grey;
}
  .reviews:before,
  .reviews:after {
    content: '';
    width: 2rem;
}
  
.user-review {
    display: flex;
    height: 5rem;
    overflow: hidden;
}
  
.user-avatar {
    height: 3.5rem;
    border-radius: 50%;
    margin-right: 1.5rem;
}
  
.user-name-review {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    /* bottom: 1rem; */
    top: 0.25rem;
    right: 0.5rem;
    color: gray;
}
  
.reviews__rating, .reviews_rating {
    height: 2rem;
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-style: italic;
    font-weight: 400;
    margin-top: auto;
    display: flex;
}
  
.reviews__star {
    height: 2rem;
    width: inherit;
}
.reviews__star--active, .reviews_star {
    fill: #55c57a;
}
.reviews__star--inactive, .reviews_star {
    fill: rgb(192, 190, 190);
}
  
  
.post-stats-review {
    /* border: 1px solid yellow; */
    height: 15rem;
    width: 40rem;
    display: grid;
    grid-template-columns: 10% 50% 40%;
    column-gap: 1rem;
    overflow: hidden;
    margin: 0 auto;
    /* margin-bottom: -5rem; */
}
  
.container {
    width: 60%;
    height: 1rem;
    background-color: rgb(177, 171, 171);
    font-size: 0.75rem;
    position: relative;
    top: 1.2rem;
    left: 0.7rem;
}
  
.skills {
    text-align: right;
    height: 1rem;
    color: white;
}
  
.five-stars {
    height: 1rem;
    width: inherit;
    position: relative;
    bottom: 1.3rem;
    right: 9.3rem;
    top: 1.25rem;
    fill: white;
}
  
.review_stats {
    /* border: 1px solid blue; */
    display: grid;
    grid-template-columns: 10% 5% 85%;
    grid-template-rows: 7% 7% 7% 7% 7%;
}
  
.starNumber {
    text-align: right;
}

.review-container {
    border: 1px solid black;
}
  
#reviewBtn {
    width: 7rem;
    margin-left: 4rem;
    margin-top: -0.5rem;
    border: none;
    border-radius: 25px;
    background-color:  #7dd56f;
    color: white;
    font-size: 0.7rem;
    height: 2rem;
    font-size: 12px;
    transition: all;
}

#reviewBtn:hover {
    transform: translateY(-5px);
    border-bottom: 2px solid #7dd56f;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.overall-stats {
    display: flex;
    flex-direction: row;
}
.overall-stats h3{
    /* position: relative;
    right: -1.5rem; */
    margin-top: 1.5rem;
}
.one-staring {
    width: 3rem;
    margin-top: 1.7rem;
} 
.single_star {
    /* position: relative; */
    /* right: 6.15rem; */
    /* bottom: 1.3rem; */
    fill: #eee;
}
  
#reviewContainer {
    margin-left: -2.5rem;
    margin-top: 1rem;
}

#review {
    background-color: #eee;
    color: grey;
}
  
.your-rate {
    position: relative;
    right: 1.1rem;
}

.delete-review, .goto {
    border: none;
    background-color: inherit;
    color: #551A8B;
    text-decoration: underline;
    margin-top: 0.5rem;
    cursor: pointer;
    transition: all 0.2s;
}
  
.delete-review:hover, .goto:hover {
    transform: translateY(-3px);
    color: #55c57a;
}

/* ////////////////// Builder Section /////////////// */
#builder-section {
    width: 80%;
    margin-left: 8%;
    margin-bottom: 10%;
    /* border: 1px solid black; */
}

#builderIH {
    width: 57%;
    margin-left: 7.5%;
    background-color: white;
    margin-bottom: 1rem;
    height: 28rem;
}

#builder-section h2, #builderIH h2 {
    width: fit-content;
    font-family: 'Nunito', sans-serif;
}

#builderIH h2 {
    padding-top: 1rem;
    padding-left: 3%;
}

#builder-section #head, #builderIH #head {
    width: 100%;
    background-color: rgb(241, 234, 234);
    display: grid;
    grid-template-columns: 80% 20%;
    border-radius: 10px;
    margin: 0 auto;
}

#builder-section #head #naming, #builderIH #head #naming {
    margin-left: 5%;
    margin-top: 1%;
}

#builder-section #head #naming h4, #builderIH #head #naming h4 {
    font-family: 'Nunito', sans-serif;
}

#builder-section #head #naming h6, #builderIH #head #naming h6 {
    font-family: 'Ubuntu', sans-serif;
}

#builder-section #builderStat, #builderIH #builderStat {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-right: grey;
}

#mailbox, #mailboxAgent, #mailboxAgentOnImg {
    background-color: white;
    border: 1px solid black;
    width: 25%;
    height: 20rem;
    display: none;
}

#mailboxAgentOnImg {
    display: block;
    position: absolute;
    top: 35%;
    right: 5%;
    background-color:rgb(233, 230, 230);;
}

.mailContainer, .mailContainerAgent {
    position: fixed;
    z-index: 9999;
    top: 30%;
    left: 40%;
    box-shadow: 1rem 3rem 10rem grey;
    animation-duration: 1s;
    /* position: relative; */
}

.fade, .fadeAgent { animation-name: fadeInBottom }
@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(500%);
        /* z-index: 0; */
    }
    to { opacity: 1; }
}

#mailbox h3, #mailboxAgent h3, #mailboxAgentOnImg h3 {
    font-weight: 600;
    font-family: "Nunito", sans-serif;
    color: rgb(201, 43, 201);
    margin-left: 1%;
    margin-top: 5%;
    margin-bottom: 6%;
}

#mailboxAgentOnImg h3 {
    color: #21c0a8;
}
/* #mailbox label {
    font-family: "Nunito", sans-serif;
    color: grey;
    margin-left: 1%;
    position: relative;
    top: 10%;
} */

#mailbox input, #mailboxAgent input, #mailboxAgentOnImg input {
    display: block;
    width: 95%;   
    border: none;
    margin-left: 1%;
    margin-bottom: 10%;
    border-bottom: 1.5px solid  rgb(201, 43, 201);
    font-family: "Nunito", sans-serif;
}

#mailboxAgentOnImg input {
    border-bottom: 1.5px solid#21c0a8;
    background-color:rgb(233, 230, 230);
}

#mailbox button, #mailboxAgent button, #mailboxAgentOnImg button {
    background-color: rgb(212, 92, 212);
    border: none;
    color: white;
    padding: 2%;
    text-align: center;
    margin-left: 2%;
    font-family: "Nunito", sans-serif;
    font-size: 14px;
}

#mailboxAgentOnImg button {
    background-color: #21c0a8;
    border-radius: 20px;
    width: 80%;
    margin-left: 10%;
    height: 2.5rem;
}

#mailboxAgentOnImg button:hover {
    background-color: #079b85;
}

#closeMail, #closeMailAgent {
    display: none;
    font-size: 3rem;
    font-weight: 800;
    position: fixed;
    top: 28%;
    left: 65.5%;
    color:  rgb(201, 43, 201);
    background: rgb(255, 255, 255, 0);
}

.contactBuilderBtn, .contactAgentBtn {
    border: none;
    background-color:rgb(201, 43, 201);
    color: white;
    /* padding: 2.7%;
    padding-left: 4%;
    padding-right: 4%; */
    padding: 2.7% 0;
    width: 11rem;
    font-size: 16px;
    text-align: center;
    font-family: "Nunito", sans-serif;
}

.contactAgentBtn {
    background-color: white;
    color: rgb(201, 43, 201);
    border: 1px solid rgb(201, 43, 201);
    margin-left: 3%;
}

.contactAgentBtn:hover {
    background-color: rgb(201, 43, 201);
    color: white;
} 

.deleteUpdateBtn {
    display: inline-block;
    margin-left: 1%;
    position: relative;
    top: 3%;
    font-family: "Nunito", sans-serif;
}

.deleteHouseLink {
    display: block;
    border: none;
    background-color: white;
    color: rgb(201, 43, 201);
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s;
}

.updateHouseLink {
    display: block;
    margin-top: 1%;
    color: rgb(201, 43, 201);
    cursor: pointer;
    transition: all 0.2s;
}

.deleteHouseLink:hover, .updateHouseLink:hover {
    color: purple;
    box-shadow: 1px 3px 10px grey;
    transform: translateY(-2px);
}

/* ///////////// ADD BUILDER ///////////// */
#builder-section #builderFields {
    width: 90%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 5%;
}

#builderIH #builderFields {
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-gap: 5%;
    margin-bottom: 2rem;
    overflow: hidden;
}

#builder-section input, #builderIH input {
    margin-top: 1.5rem;
    border: none;
    border-radius: 5px;
    background-color: #f1f2f6;
    height: 2.6rem;
}

#builder-section input:focus, #builderIH input:focus {
    border: none;
    border-bottom: 2px solid  #7dd56f;
    color: grey;
}

#builder-section #textContentBuilderBuilding {
    display: block;
    margin-left: 2.7%;
    border: none;
    border-radius: 5px;
    background-color: #f1f2f6;
    padding-left: 2%;
    color: grey;
    margin-top: 1.5rem;
    width: 200%;
}

#builder-section #textContentBuilderBuilding:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid#7dd56f;
}

#builderIH #textContentBuilderBuilding {
    display: block;
    margin-left: 0;
    border: none;
    border-radius: 5px;
    background-color: #f1f2f6;
    /* padding-left: 2%; */
    color: grey;
    margin-top: 1.5rem;
    width: 200%;
    height: 10rem;
}

#builderIH #textContentBuilderBuildingAdminLabel {
    margin-left: 3%;
    
}
#builderIH #textContentBuilderBuildingAdmin {
    display: block;
    /* margin-left: 3%; */
    border: none;
    border-radius: 5px;
    /* background-color: grey; */
    background-color: #f1f2f6;
    /* padding-left: 2%; */
    color: grey;
    /* margin-top: 1.5rem; */
    width: 100%;
    height: 8rem;
}

.divOne {
    width: 95%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 auto;
}
#builderIH #textContentBuilderBuilding:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid#7dd56f;
}

#labelTextContentBuilderBuilding {
    visibility: hidden;
}

#builder-section button, #builderIH button {
    margin-top: 1rem;
    font-size: 15px;
    display: block;
    width: 7rem;
    margin-left: 4rem;
    border: none;
    border-radius: 25px;
    background-color:  #7dd56f;
    color: white;
    font-size: 0.7rem;
    height: 2rem;
}

#builder-section #addBuilderBtn {
    margin-left: 120%;
    margin-top: 15rem;
}

#builderIH #addBuilderBtn {
    margin-left: 90%;
    margin-top: 7rem;
}

#builder-section #naming input, #builderIH #naming input {
    margin-left: 2rem;
}

#builderImg img, #builderIH img {
    width: 60%;
}
#builderIH img {
    height: 100%;
    width: 75%;
}
/* #builder-section #builder-photo {
    width: 60%;
} */

/* //////////// Right Side About Builder //////////// */
#rightSideAboutBuilder {
    /* background-color: red; */
    position: fixed;
    z-index: 9999;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 41rem;
    display: none;
    animation-duration: 0.4s;
    /* background: rgb(255, 255, 255, 0.5); */
}

#rightSideAboutBuilder #transparentContent {
    background: rgb(255, 255, 255, 0.5);
}
#rightSideAboutBuilder #transparentContent h2 {
    visibility: hidden;
}

#rightSideAboutBuilder #contentSide {
    background-color: white;
}

.fadeRight{ animation-name: fadeInRight }
@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(500%);
        z-index: 0;
    }
    to { opacity: 1; }
}

.aboutBuilderPara, .readMore {
    display: inline-block;
}

.aboutBuilderParagraph {
    display: inline-block;
}

.readMore {
    color: rgb(201, 43, 201);
    cursor: pointer;
}

#rightSideAboutBuilder #closeBuilder {
    width: 100%;
    box-shadow: 1px 2px 10px grey;
}

#rightSideAboutBuilder #closeAboutBuilder {
    font-size: 3rem;
}

#rightSideAboutBuilder .aboutBuilderParagraph {
    /* border: 1px solid black; */
    width: 97%;
    line-height: 2rem;
    margin-left: 0.75rem;
}

#rightSideAboutBuilder #contentSide h2 {
    margin-left: 0.75rem;
}

#addBuilderBtn {
    margin-top: 15rem;
    margin-left: 120%;
}

#builder-section .builderDeleteBtn, #builder-section .builderUpdateBtn {
    display: inline-block;
    width: 200%;
    height: 2.5rem;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.2s;
    /* margin-right: 2rem; */
}

#builderIH .builderDeleteBtn, #builderIH .builderUpdateBtn {
    margin-left: 2rem;
}
#builder-section .builderDeleteBtn:hover, #builder-section .builderUpdateBtn:hover, #builderIH .builderUpdateBtn:hover, #builderIH .builderDeleteBtn:hover {
    transform: translateY(-5px);
    border-bottom: 2px solid #7dd56f;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

#builder-section .aboutBuilderPara {
    width: 100%;
    height: 10rem;
    margin-top: 1.5rem
}

#totalProjectsBuildingAdmin,
#projectsCompletedBuildingAdmin,
#operatingInBuildingAdmin,
#experienceBuildingAdmin,
#textContentBuilderBuildingAdmin  {
    position: relative;
    bottom: 1.15rem;
}


/* //////// Builder Update Css /////////// */
/* #builder-section {
    border: 2px solid yellow;
} */
#builder-section #namingUpdate, #builder-section #StatUpdate {
    /* border: 1px solid red; */
    /* width: 100%; */
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-gap: 5%;
    overflow: hidden;
}
#builderIH #namingUpdate, #builderIH #StatUpdate {
    /* border: 1px solid red; */
    /* width: 100%; */
    display: grid;
    grid-template-columns: 15% 15% 15% 15%;
    grid-gap: 20%;
    overflow: hidden;
}
#builder-section #namingUpdate label, #builderIH #namingUpdate label {
    display: block;
    /* margin-left: 2%;  */
}

#builder-section #namingUpdate input, #builderIH #nammingUpdate input {
    display: block;
    margin-top: 1%; 
    font-size: 12px;
    padding-left: 3%;
}

#builderIH #nammingUpdate {
    margin-bottom: 1rem;
}

#builder-section #StatUpdate input, #builderIH #StatUpdate input {
    font-size: 12px;
}

#builderStatUpdate #builder-photo, #builderIH #builder-photo {
    width: 50%;
    margin-left: 25%;
}

#builder-section .choose, #builderIH .choose {
    /* display: grid;
    grid-template-columns: 2% 60%;
    width: 30%; */
    margin-top: -27%;
}

.choose #logo-builder {
    opacity: 0;
}

#builder-section #builderStatUpdate {
    margin-bottom: 2.5%;
    /* border: 1px solid blue; */
}

#builderIH #builderStatUpdate {
    width: 95%;
    margin: 0 auto;
    /* margin-bottom: 2.5%; */
    /* border: 1px solid blue; */
}

#builder-section .bottomThree {
    width: 80%;
    display: grid;
    grid-template-columns: 30% 10% 10%;
    grid-gap: 15%;
}

#builderIH .divThree {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
}

#builderIH .divFour {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

#builder-section .photo-label, #builderIH .photo-label {
    padding: 5%;
}

#builderIH .photo-label {
    padding: 2.5%;
    margin-left: 2rem;
}
/* .builderDeleteBtn, .builderUpdateBtn {
    width: 70%;
} */

/* ////////////////// Animate Houses On Scroll /////////////// */
.animateScrollHouse {
    animation-duration: 2s;
}

.animateHouseFadeInBottom { animation-name: fadeInBottomOverviewHouses }
@keyframes fadeInBottomOverviewHouses {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* ////////////////// Animate Location On Scroll /////////////// */
.animateScrollMap {
    animation-duration: 1s;
}

.animateMapFadeInLeft { animation-name: fadeInLeftMap }
@keyframes fadeInLeftMap {
    from { opacity: 0;
        transform: translateX(-100%);
    }
    to { opacity: 1; }
}

.animateMapFadeInRight { animation-name: fadeInRightLocationAdv }
@keyframes fadeInRightLocationAdv {
    from { opacity: 0;
        transform: translateX(100%);
    }
    to { opacity: 1; }
}

.animateScrollImg {
    animation-duration: 1s;
    position: relative;
}
.animateImgFadeInBottom { animation-name: fadeInBottomImg }
@keyframes fadeInBottomImg {
    from {
        opacity: 0;
        transform: translateY(100%);
        z-index: 0;
    }
    to { opacity: 1; }
}


/* ////////////// review page body /////////////// */
#reviewPage {
    margin: 0;
    height: 39rem;
    overflow: hidden;
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
}

#reviewPage h1 {
    margin: 0 auto;
    width: fit-content;
    /* margin: 0 auto; */
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    color: white;
    font-family: 'Nunito', sans-serif;

}

#reviewPage .reviewPageUserName {
    overflow: hidden;
    height: 1.05rem;
    /* position: relative;
    bottom: 3rem; */
    margin-top: 1rem;
}

#reviewPage .goto, .delete-review {
    font-size: 16px;
    line-height: 2;
}

/* #reviewPage #reviewHatao {
    background-color: yellow;
    height: 35rem;
    overflow-y: hidden;
    overflow-x: auto;
} */