//- section#nav-container
//-     ul#navbar.qwerty
//-         li: a(href="#properties-available") Properties Available
//-         li.one-word: a(href="#ameneties") Ameneties
//-         li.one-word: a(href="#") Contact
//-         if user 
//-             li(style="float:right"): a(class="signup", href="/me")= user.name
//-             img.user-img.building-page-img(src=`/img/users/${user.photo}` style="float:right")
//-             li(style="float:right"): button#logout(class="login") Log Out
//-         else
//-             li.one-word(style="float:right"): a(class="signup", href="/signup") Sign Up
//-             li.one-word(style="float:right"): a(class="login", href="/login") Log In