
extends base

block content
    #formForgotPass
        form.form-forgot-pass
            h2 Forgot Password
            label(for="email-field") Email Address: 
            input#email-field(type="email" name="email" placeholder="enter your email", required)
            button.sigin-btn(onClick="forgotPass()") Reset Password
            p.or or
            a.forgotPass(href="/login") Login
                      
    //- p.mt-5.mb-3.text-muted &copy; Prashant Shekhar