extends base

block content    
    form#post-house-ameneties
        section#house-details
            h2 House Details

            input#building(type="text", value=`${buildingId}` style="display: none")
            input#building-name(type="text", value=`${buildingName}` style="display: none")
        
            label#price-label(for="price") Price
            input#price(type="number")

            label#flat-type-label(for="flat-type") Flat Type
            input#flat-type(type="text")

            label#sqft-area-label(for="sqft-area") sqft Area
            input#sqft-area(type="number")

            label#bathrooms-label(for="bathrooms") Bathrooms
            input#bathrooms(type="number")

            label#balconies-label(for="belconies") Balconies
            input#balconies(type="number")

            label#status-label(for="status") Status
            input#status(type="text")

            label#usp-label(for="usb") USP
            input#usp(type="text")

            input#house-print(type="file" accept="image/*" value="Choose photo")
            //- label(for="house-print") Choose photo 

        section#ameneties-details
            
        button.post-house Post House