
extends base

block content
    #formResetPass
        form.form-reset-pass
            h2 Reset Password
            label(for="pass-field") Password: 
            input#pass-field(type="password" name="password" placeholder="enter password", required, minlength='8')
            label(for="passConfirm-field") Confirm Password: 
            input#passConfirm-field(type="password" name="confirm-password" placeholder="re-enter password", required)
            button.sigin-btn(onClick=`resetPass('${token}')`) Reset Password
            //- p.or or
            //- a.forgotPass(href="/forgotPassword") Forgot Password
            //- p.notAccount Don't have an account? 
            //- a.transfer(href="/signup") Sign Up
            