@media only screen and (max-width: 1140px) {
    .user-img-div {
        grid-gap: 2.5%;
    }
}

@media only screen and (max-width: 1000px) {
    .user-img-div {
        grid-gap: 2.5%;
    }

    .user-img-div img{
        height: 4rem;
        width: 4rem;
    }
}

@media only screen and (max-width: 900px) {
    .user-img-div {
        width: 60%;
        grid-gap: 1%;
    }

    .user-img-div img{
        height: 4rem;
        width: 4rem;
    }

    .user-img-div img{
        height: 4rem;
        width: 4rem;
    }

    .user-form-fields button {
        width: 22%;
        height: 2.1rem;
    }

    #sidebar-div li {
        margin-left: -1.5rem;
    }
}

@media only screen and (max-width: 800px) {
    .user-img-div {
        width: 70%;
        grid-gap: 1%;
    }

    .user-img-div img{
        height: 4rem;
        width: 4rem;
    }

    .user-form-fields button {
        width: 24%;
        height: 2.3rem;
    }
}

@media only screen and (max-width: 700px) {
    .user-img-div {
        width: 80%;
        grid-gap: 1%;
    }

    .user-img-div img{
        height: 4rem;
        width: 4rem;
    }

    .user-form-fields button {
        width: 26%;
        height: 2.3rem;
    }

    #sidebar-div li {
        margin-left: -2rem;
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 600px) {
    .user-img-div {
        width: 90%;
        grid-gap: 0.8%;
    }

    .user-img-div img{
        height: 3.8rem;
        width: 3.8rem;
    }

    .user-img-div img{
        height: 4rem;
        width: 4rem;
    }

    .user-form-fields button {
        width: 30%;
        height: 2.5rem;
    }

    #sidebar-div li {
        margin-left: -2.5rem;
        font-size: 0.5rem;
    }
}