#fullResidentialHouseBody {
    margin: 0;
    width: 100%;
    overflow: hidden;
    font-family: 'Nunito', sans-serif;
    background-color: #f4f4f4;
}

#overviewSection {
    width: 90%;
    margin: 0 auto;
    height: 52rem;
    display: grid;
    grid-template-rows: 17% 70% 15%;
    background-color: white;
}

#overviewSection #overviewPartOne {
    display: grid;
    grid-template-columns: 55% 30%;
    grid-gap: 10%;
    overflow: hidden;
}

#overviewPartOne #insidePartOneOne h2 {
    width: fit-content;
    margin-top: 5%;
}

#overviewPartOne #insidePartOneOne h4 {
    width: fit-content;
    margin-top: -1rem;
}

#overviewPartOne #insidePartOneOne {
    margin-left: 5%;
}

#overviewPartOne #insidePartOneTwo {
    height: 100%;
    text-align: right;

}

#overviewPartOne #insidePartOneTwo .fa-rupee-sign,
#overviewPartOne #insidePartOneTwo h2 {
    display: inline-block;
}

#overviewPartOne #insidePartOneTwo p {
    margin-top: -1rem;
}

#overviewPartOne #insidePartOneTwo button {
    float: right;
    border: none;
    border-radius: 5px;
    width: 40%;
    height: 2.5rem;
    background-color: #1dd38f;
    color: white;
    cursor: pointer;
}

#overviewSection #overviewPartTwo {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#overviewPartTwo img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

#overviewPartThree p, #overviewPartThree h6 {
    width: fit-content;
}
#overviewSection #overviewPartThree {
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15%;
    grid-gap: 6.25%;
    text-align: center;
}

#overviewPartThree h6, #overviewPartThree p, #overviewPartThree .fa-rupee-sign {
    font-size: 18px;
    font-weight: bold;
}

#overviewPartThree #overviewBuildUpArea p,
#overviewPartThree #overviewBuildUpArea h6,
#overviewPartThree #overviewAvgPrice p,
#overviewPartThree #overviewAvgPrice h6,
#overviewPartThree #overviewAvgPrice .fa-rupee-sign,
#overviewPartThree #overviewConfiguration p,
#overviewPartThree #overviewConfiguration h6,
#overviewPartThree #overviewPossessionStatus p,
#overviewPartThree #overviewPossessionStatus h6,
#overviewPartThree #overviewFurnishing p,
#overviewPartThree #overviewFurnishing h6 {
    text-align: center;
    margin: 0 auto;
    margin-top: 20%;
}

#overviewPartThree #overviewBuildUpArea h6,
#overviewPartThree #overviewAvgPrice h6,
#overviewPartThree #overviewConfiguration h6,
#overviewPartThree #overviewPossessionStatus h6,
#overviewPartThree #overviewFurnishing h6 {
    margin-top: 5%;
    font-size: 14px;
    font-weight: normal;
    color: grey;
}

#overviewPartThree #overviewAvgPrice .fa-rupee-sign, 
#overviewPartThree #overviewAvgPrice p {
    display: inline-block;
}

#overviewPartThree #overviewAvgPrice .fa-rupee-sign {
    margin-right: 5px;
}

/* ////////////////// Residential House Navbar Css ///////////////// */
#navContainer {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    height: 60px;
    background-color: white;
}
  
#navContainer ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
  
#navContainer ul li{
    margin-right: 2.5%;
}
  
#navContainer ul li a {
    text-decoration-line: none;
    color: black;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}
  
#navContainer ul li .login{
    background-color: white;
    color: black;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}

#navContainer .user-name {
    width: 38%;
    text-align: right;
    margin-right: 0.7%;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}

#navContainer .user-img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}
  
#navContainer .building-page-img {
    margin-right: 2px;
    margin-top: -10px;
}
  
#navContainer #logout {
    border: none;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    width: fit-content;
    margin-left: 1rem;
}
  
#navContainer .one-word-signup {
    margin-left: 38%;
}

.stick {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.scrolledNavItem {
    color: blue;
    border-bottom: 1px solid blue;
}

#navContainer li a:hover {
    color: blue;
    border-bottom: 1px solid blue;
}

/* /////////////////// Second Half Overview Section /////////////////// */
#secondHalfSection {
    background-color: #f4f4f4;
}

#secondHalf {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 65% 30%;
    grid-gap: 5%;
    overflow: hidden;
    background-color: white;
}

#secondHalf h2 {
    width: fit-content;
    margin-left: 3%;
}

#overviewHouseDetails {
    display: grid;
    grid-template-columns: 50% 50%;
}
#overviewHouseDetails p, #overviewHouseDetails h6 {
    width: fit-content;
    margin-left: 5%;
}

#overviewHouseDetails h6 {
    font-size: 14px;
    color: grey;
}

#overviewHouseDetails p {
    margin-top: -1.5rem;
}

.contactSecondHalf {
    position: fixed;
    top: 14.7%;
    right: 7.4%;
    width: 25.5%;
    background-color: white;
}
#contactSecondHalfHide {
    width: 25rem;
    background-color: white;
}
#contactSecondHalf #seller, #contactSecondHalfHide #seller{
    width: 70%;
    display: grid;
    grid-template-columns: 35% 60%;
    grid-gap: 5%;
    height: 4.5rem;
    margin-bottom: 2rem;
    
}

#seller #sellerImg img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

#seller #sellerDetails h6 {
    width: fit-content;
    font-size: 14px;
    margin: 0;
    margin-top: 5px;
}

#seller #sellerDetails .sellerOwner {
    color: grey;
}

#contactSecondHalf #contactSellerForm, #contactSecondHalfHide #contactSellerForm {
    width: 90%;
    border: 1px solid grey;
    box-shadow: 0 3px 7px 0 grey;
}

#contactSecondHalf #contactSellerForm input, #contactSecondHalfHide #contactSellerForm input {
    display: block;
    border: none;
    border-bottom: 1px solid grey;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 2.5rem;
}

#contactSecondHalf #contactSellerForm button, #contactSecondHalfHide #contactSellerForm button {
    background-color: rgb(127, 127, 127);
    color: white;
    border: none;
    width: 95%;
    margin-left: 2.5%;
    margin-bottom: 1rem;
    height: 2.75rem;
    cursor: pointer;
    font-size: 15px;
}

#contactSecondHalf #contactSellerForm h5, #contactSecondHalfHide #contactSellerForm h5 {
    width: fit-content;
    margin-left: 3%;
}

#secondHalf #aboutThis {
    width: 90%;
    margin: 0 auto;
    margin-left: 3%;
}

#secondHalf #aboutThis h6 {
    font-size: 15px;
    color: grey;
    line-height: 1.5;
    margin-top: -0.35rem;
    padding-bottom: 1.1rem;
    height: 3rem;
    overflow: hidden;
}

#secondHalf hr {
    border: 0;
    border-bottom: 1px solid darkgray;
    width: 80%;
    margin: 0 auto;
    background-color: darkgray;
    margin-top: -0.5rem;
}

#secondHalf #moreRead {
    width: fit-content;
    margin: 0 auto;
    cursor: pointer;
    color: #5e23dc;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

/* //////////// Locality Section ///////////// */
#localitySection {
    position: relative;
    height: 26rem;
    width: 57%;
    margin-left: 7.5%;
    background-color: white;
    overflow: hidden;
    margin-top: 1rem;
}

#localitySection h2 {
    width:  fit-content;
    margin: 0;
    margin-left: 5%;
    margin-top: 1%;
    color: #5e23dc;
    border-bottom: 1px solid #5e23dc;
    display: inline-block;
    cursor: pointer;
}

#localitySection .advH {
    color: grey;
    border: none;
}

#localitySection .lacAd {
    display: none;
}

#mapLoc {
    position: absolute;
    top: 4rem;
    bottom: 2rem;
    left: 5%;
    width: 90%;
    z-index: 1;
}

#localitySection #lacAd {
    width: 85%;
    margin: 0 auto;
    margin-top: 2rem;
    max-height: 23rem;
    overflow: auto;
}
#lacAd p {
    width: fit-content;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

/* ////////////// Gallery Section /////////////// */
#photosGallery h2 {
    width: fit-content;
    margin-left: 5%;
}
#photosGallery {
    position: relative;
    height: 27rem;
    width: 57%;
    margin-left: 7.5%;
    background-color: white;
    overflow: hidden;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#gallery  {
    width: 240%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.picture-box-ih {
    width: 100%;
    margin: 0 auto;
}

#photosGallery img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    margin: 0 auto;
    overflow: hidden;
    transition: all 0.4s;
}

#photosGallery img:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.pics-left-btn-ih, .pics-right-btn-ih {
    width: fit-content;
    color: white;
    font-size: 2rem;
    position: absolute;
    left: 59%;
    top: 130rem;
    background-color: #5e23dc;
    padding: 0.7rem 1.15rem;
    border-radius: 50%;
}

.pics-left-btn-ih {
    left: 10%;
    right: 0;
    z-index: 1;
}

/* ////////// Reviews /////////// */
#reviewRh {
    background-color: black;
    width: 57%;
    margin-left: 5%;
}

#contactSecondHalfHide {
    display: none;
    position: fixed;
    width: 20rem;
    top: 12%;
    left: 40%;
}

#contactSecondHalf h4, #contactSecondHalf #seller, #contactSecondHalf #contactSellerForm, #contactSecondHalfHide h4, #contactSecondHalfHide #seller, #contactSecondHalfHide #contactSellerForm {
    margin-left: 5%;
}
#contactSecondHalf #contactSellerForm, #contactSecondHalfHide #contactSellerForm {
    margin-bottom: 5%;
}
#contactSecondHalfHide #closeMailAgent {
    display: none;
    position: absolute;
    top: 50%;
    left: 90%;
    font-size: 20px;
}
